{{#section 'title'}}
    Lapor - Portal IT Cermati
{{/section}}
{{error}}

<div id="laporPageBody" class="row container">
    <form action="" method="post">
        <div class="col s12 mt-20">
            <div class="col s12 mb-30">
                <span class="font-40">Buat Permintaan</span>
            </div>
            <div class="input-field col s12">
                <select id="laporjenis" name="lapor[jenis]" required>
                    <!--<option value="" disabled selected>Pilih Jenis Laporan</option>-->
                    {{#each jenis}}
                        <option value="{{this.idjenis}}">{{this.nama}}</option>
                    {{/each}}
                </select>
                <label for="laporjenis" >Jenis Laporan</label>
            </div>
            <div class="row">
                <div class="col s12" id="templateBlock">

                </div>
            </div>
            <div class="col s12">
                <span class="font-20 green-text" id="message">{{message}}</span>
            </div>
        </div>
    </form>
</div>